#boards_main{
    margin-top: 30px;
    margin-left: 150px;
}


.boardbox {
    margin:5px;
    padding:10px;
    height: 250px;
    width: 100px;
    border:solid 2px black;
    word-wrap:break-word;
    margin-right: 3px;
    margin-bottom: 3px;
    border-radius: 5px;
    //background: rgba(193,213,224,1);
    background-color: #fffbde;
    color:black;
    font-size:30px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-variant: all-small-caps;

}

.newBoard {
    margin:5px ;
    padding:10px;
    height: 250px !important;
    width: 100px;
    border:solid 2px black;
    border-radius: 5px;
    background: #e7e3c5;
    color:black;
    font-size:30px;
    font-variant: all-small-caps;


}

.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
}


.gu-hide {
  display: none !important;
}
.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}
.gu-transit {
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
}

