<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/noname.css') }}" type="text/css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha/js/bootstrap.min.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/dragula/3.7.2/dragula.min.js'></script>
    <script src="{{ url_for('static', filename='js/noname.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/render.js') }}" type="text/javascript"></script>
</head>

<body>
<table id="records" cellspacing="0"></table>
<div class="container">
    <div class="row">
        <div class="col-xs-3">
            <div>New</div>
            <div id="new" class="newList">
                <div id="2">Elso</div>
                <div>Masodik</div>
                <div>Harmadik</div>
            </div>
        </div>
        <div class="col-xs-3">
            <div>In Progress</div>
            <div id="progress" class="newList">
                <div><div>Elso</div></div>
                <div>Masodik</div>
                <div>Harmadik</div>
            </div>
        </div>
        <div class="col-xs-3">
            <div>Done</div>
            <div id="done" class="newList">
                <div>Elso</div>
                <div>Masodik</div>
                <div>Harmadik</div>
            </div>
        </div>
        <div class="col-xs-3">
            <div>Review</div>
            <div id="review" class="newList">
                <div>Elso</div>
                <div>Masodik</div>
                <div>Harmadik</div>
            </div>
        </div>
    </div>
</div>
</body>
</html>