<!DOCTYPE html>
<html lang="en">
<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/StyleSheet.css') }}" rel="stylesheet">
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src=" {{ url_for('static', filename='js/noname.js') }} " type="text/javascript"></script>
<head>
    <meta charset="UTF-8">
    <title>ProMan</title>
</head>
<body>
 <nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <a class="navbar-brand" href="/"><b>A NoName ProMan</b></a>
  </div>
</nav>

<div class="newBoard" >
    <a href="javascript:void(0)" class="container text-center" id ="newprojectshere" onclick="newBoard()"></a>

    <input type="text" id="newBoardInput" placeholder="Project Name" style="display: none;" required>
    <input type="button" id="save" class="btn btn-default page-scroll bt-lg" value="Save" style="display: none;" onclick="saveNewBoard(),hide()">
</div>


 <div class="container text-center" id ="projectshere"></div>



</body>
</html>