<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NoName - ProMan</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/noname.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/flip.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha/js/bootstrap.min.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/dragula/3.7.2/dragula.min.js'></script>
    <script src="{{ url_for('static', filename='js/usermain.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/noname.js') }}" type="text/javascript"></script>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>

<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href="/user_main">Home</a>
   <a onclick="loadGame()">Extra</a>
  <a href="/logout">Log out</a>
</div>
<span id="closing_span" onclick="openNav()">&#9776; menu</span>
<span id="title_board" onclick="loadGame()">Welcome </span>

<div class="board_background_div">

<div class="container-fluid" id="boards_main">
    <div class="row">
        <div id="board" class="col-xs-13"></div>
    </div>
    </div>
</div>

</body>
</html>
