<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NoName - ProMan</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/noname.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha/js/bootstrap.min.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/dragula/3.7.2/dragula.min.js'></script>
    <script src="{{ url_for('static', filename='js/userboard.js') }}" type="text/javascript"></script>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>

<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href="/user_main">Home</a>
  <a href="#">Credits</a>
  <a onclick="loadGame()">Extra</a>
  <a href="logout">Log out</a>
</div>
<span id="closing_span" onclick="openNav()">&#9776; menu</span>
<span id="title_card" id="title_card"></span><br>

<!-- Button trigger modal -->
    <button id="use_font" type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">Add new card</button>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div id=use_font class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">New card</h4>
                </div>
                <div class="modal-body">
                    <form action="/create_new_cell" method='POST'>
                        <label for="name_id">Name</label><br>
                        <input type=text name="new_cell_form" id="name_id"> <br>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>



<div class="container-fluid" id="index_main">
    <div class="row">
        <div class="col-sm-3"><div id="new_status">
            <div class="status_name">New</div>
            <div id="new" class="newList"></div>
        </div></div>
         <div class="col-sm-3"><div id="in_progress_status">
            <div class="status_name">In Progress</div>
            <div id="progress" class="newList"></div>
        </div></div>
        <div class="col-sm-3" ><div id="review_status">
            <div class="status_name">Review</div>
            <div id="review" class="newList"></div>
        </div></div>
        <div class="col-sm-3"><div id="done_status">
            <div class="status_name">Done</div>
            <div id="done" class="newList"></div>
        </div></div>

    </div>
</div>
</body>
</html>